*{
    margin: 0;
    padding: 0;
}
.alinharRotulos{
    text-align: right;
}   
img{
    display: flex;
    width: 100px;
    height: 100px;
    float: right;
    padding: 40px;
}
p{
    margin-top: 110px;
    float: right;
}
.alinhabtns{
    width: 32%;
    background-color: black;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
/* .cesta{
    width: 900px;
    float: right;
}
*/
/* .cesta {
    display: inline;
} */
table{
    clear: both;
    background-color: #0099e6;
    border-radius: 10px;
    color: white;
    padding: 15px;
    width: 400px;
    margin: auto;
}
caption{
    color:#00111a;
    font-weight: bold;
    font-size: 25px;
}