*{
    margin: 0;
    padding: 0;
}
.alinharRotulos{
    text-align: right;
}   
img{
    width: 100px;
    height: 100px;
    float: right;
    padding: 0px;
}
p{
    margin-left: 150px;
    float: right;
}
.alinhabtns{
    width: 32%;
    background-color: black;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.cesta{
    padding: 50px;
    width: 300px;
    float: right;
}

.cesta {
    display: inline;
}
table{
    clear: both;
    background-color: #0099e6;
    border-radius: 10px;
    color: white;
    padding: 15px;
    width: 400px;
    margin: auto;
}
caption{
    color:#00111a;
    font-weight: bold;
    font-size: 25px;
}